*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(rgba(0,0,0,.45),
rgba(0,0,0,.45)),

url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1400&q=80");

background-size:cover;
background-position:center;

animation:move 18s infinite alternate;
}

@keyframes move{

from{
background-position:left;
}

to{
background-position:right;
}

}

.overlay{
width:100%;
display:flex;
justify-content:center;
}

.game-card{

width:90%;
max-width:650px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(10px);

padding:40px;

border-radius:20px;

text-align:center;

color:white;

box-shadow:0 0 30px rgba(0,0,0,.4);

}

h1{

font-size:45px;
margin-bottom:10px;

}

.subtitle{

margin-bottom:30px;

font-size:18px;

}

h2{

margin-bottom:10px;

}

button{

margin:10px;

padding:15px 30px;

font-size:18px;

border:none;

border-radius:50px;

cursor:pointer;

background:#FFD54F;

transition:.3s;

font-weight:bold;

}

button:hover{

transform:scale(1.08);

background:#FFC107;

}

#result{

margin-top:25px;

font-size:24px;

font-weight:bold;

min-height:80px;

}

#restart{

display:none;

background:#66BB6A;

color:white;

}

#music{

background:#29B6F6;

color:white;

}

.win{

color:#FFE082;

font-size:28px;

animation:pop .8s infinite alternate;

}

.lose{

color:#FF8A80;

}

@keyframes pop{

from{
transform:scale(1);
}

to{
transform:scale(1.08);
}

}

@media(max-width:600px){

h1{
font-size:34px;
}

button{
width:100%;
}

}